<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialFeeds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B61201201FEC2C2C00BEF025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61201371FEC2C2D00BEF025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61201421FEC2C2D00BEF025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
